.heading-bg-img-pop {
  padding: 24px;
  background-image: url('/assets/patch_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
  .popup-head {
  display: flex;
  justify-content: center;
}
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Show pointer cursor */
}

.popup {
  background: #fff;
  max-width: 47%;
  position: relative; /* Added to position the cancel button */
}
.main-section.one.bottom {
  margin-bottom: 70px !important;
}


.popup-cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #999;
}

.popup-head {
  color: #000;
  font-size: 34px;
  margin-bottom: 10px;
}

.popup-text {
  color: #333;
  font-size: 17px;
  line-height: 31px;
}
@media only screen and (min-device-width: 1200px) and (max-device-width: 1280px) {

}
@media only screen and (min-device-width: 1281px) and (max-device-width: 1369px) {



}

@media only screen and (min-device-width: 1370px) and (max-device-width: 1440px) {

}

@media only screen and (min-device-width: 1441px) and (max-device-width: 1536px) {
}

@media only screen and (min-device-width: 1537px) and (max-device-width: 1600px) {
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {
        .popup{
          padding: 49px;
          max-width: 75%;
      }
           
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
.popup{
  background: #fff;
  padding: 54px;
  max-width: 78%;
  border-radius: 10px;
  position: relative;
}


}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
.popup {
  background: #fff;
  padding: 0px;
  max-width: 95%;
  position: relative;
}

.popup-head{
   margin-bottom: 0;
  font-size: 27px;
  margin-top: 0;
  line-height: 26px;
}
.popup-text {
  color: #333;
  font-size: 14px;
  line-height: 23px;
  height: 300px;
  overflow: auto;
  margin-left: 0px;
}
.popup-head{
  justify-content: left;
}
.popup-text li {
  margin-bottom: 13px;
}


}